.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
   Helvetica, Arial, sans-serif,
   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.App-header {
  border-bottom: 1px solid #ececec;
  padding: 25px;
}

.App-title {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-family: Helvetica;
  font-size: 24px;
}

.App-title::before {
  content: '';
  background-color: red;
  height: 1em;
  width: 1em;
  margin-right: 0.5ex;
}

.App-main {
  padding: 25px;
  font-size: 18px;

  > p + p {
    margin-top: 1.5em;
  }
}
